<div class="page-header">
  <%= link_to pedido_produtos_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <%= link_to edit_pedido_produto_path(@pedido_produto), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <h1>Mostrar item</h1>
</div>

<dl class="dl-horizontal">
  <dt>Nome:</dt>
  <dd><%= @pedido_produto.nome %></dd>
  <dt>Valor:</dt>
  <dd><%= @pedido_produto.valor %></dd>
</dl>
